$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;
$lightblue: #297caf;

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkblue;
  z-index: 999999;
}

.spinner {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 48%;
  left: 48%;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $lightgray1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
