$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;
$lightblue: #297caf;

.About {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  min-height: 1000px;
  min-width: 1000px;
}
.shape-container-about {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: $darkblue;
  fill: $lightgray1;
  z-index: 2;
  transform: translateZ(0);
  overflow: hidden;
  .shape-container-about svg {
    display: block;
    fill: $lightgray1;
    pointer-events: none;
    vertical-align: baseline;
  }
}
.col-lg-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
.lead {
  font-size: 1.125rem;
  font-weight: 300;
}
.text-white {
  color: $lightgray1 !important;
  background: none;
  text-align: left;
}
.row-grid + .row-grid {
  margin-top: 3rem;
}

.row-grid > [class*="col-"] + [class*="col-"] {
  margin-top: 3rem;
}

@media (min-width: 992px) {
  .row.row-grid > [class*="col-lg-"] + [class*="col-lg-"] {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .row.row-grid > [class*="col-md-"] + [class*="col-md-"] {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .row.row-grid > [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 0;
  }
}

.container {
  min-width: 992px !important;
}
.py-8 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}
.py-5 {
  padding-bottom: 3rem !important;
}

.slice {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-title-wrapper {
  height: 29vh;
  display: flex;
  margin-left: 18%;
  align-items: center;
  .typing-demo {
    width: 8ch;
    animation: typing 2s steps(8), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    color: $lightgray1;
    font-family: "Raleway", sans-serif;
    font-size: 4em;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

.outer-container-about {
  width: 100%;
  height: 500px;
  overflow: auto;
}

.item-img-about {
  position: relative;
  float: right;
  padding-left: 8%;
  width: 30%;
}
.item-img-bottom {
  position: relative;
  padding-left: 37%;
  img {
    transform: rotate(90deg);
    max-height: 612px;
    width: 23%;
    position: absolute;
  }
}

.about-container {
  width: 90%;
  padding-top: 6%;
  padding-left: 19%;
  padding-bottom: 8%;
  transform-origin: 50% 100%;
  .item-content-about {
    position: relative;
    width: 90%;

    .about-logo {
      width: 25%;
    }
  }
  .about-text {
    font-family: "Open Sans", sans-serif;
    color: $darkblue;
    font-size: 22px;
    line-height: 1.6;
    padding-bottom: 3%;

    b {
      color: $lightblue;
    }
  }
}
.team-title {
  h1 {
    color: $lightgrayblue5;
    font-family: "Raleway" sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 60px;
    background: none;
    width: 100%;
    padding-right: 68%;
  }
}

.checkbox {
  display: flex;
  justify-content: space-around;
  background: $darkblue;
  h1 {
    background: transparent;
    margin-right: 200px;
  }
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $lightgrayblue4;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }

  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }

  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px $lightgrayblue1;
    }
  }
  .checkbox1 {
    height: 150px;
    margin-top: 90px;
    .checkmark1 {
      margin-left: 120.1%;
      margin-top: -50px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: $darkblue;
      stroke-miterlimit: 10;
      animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
    }
  }

  .checkbox2 {
    height: 150px;
    .checkmark2 {
      margin-left: 114%;
      margin-top: -50px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: block;
      stroke-width: 2;
      stroke: $darkblue;
      stroke-miterlimit: 10;
      animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
    }
  }
}

.bottompapers {
  width: 100%;
  overflow: auto;
  height: 550px;
  h2 {
    color: $darkblue;
    text-transform: uppercase;
    font-size: 30px;
  }
  p {
    color: $lightgrayblue5;
    font-weight: 400;
    font-size: 20px;
  }
  .paper1 {
    position: absolute;
    left: 20%;
    width: 35%;
    height: 20%;
    text-align: center;
    .MuiButton-contained {
      background-color: $lightgrayblue1;
      :hover {
        background-color: $lightgrayblue1;
      }
    }
    .MuiPaper-root {
      top: 20%;
      position: absolute;
      width: 68%;
      height: 49%;
      text-align: center;
      padding: 35px;
      padding-top: 70px;

      font-family: "Open Sans", sans-serif;
      h2 {
        font-family: "Raleway", sans-serif;
      }
    }
  }
  .paper2 {
    height: 20%;
    position: absolute;
    right: 10%;
    width: 35%;
    text-align: center;
    padding: 20px;
    .MuiButton-contained {
      background-color: $lightgray1;
    }
    .MuiPaper-root {
      top: 20%;
      position: absolute;
      width: 68%;
      height: 49%;
      text-align: center;
      padding: 35px;
      padding-top: 70px;
      font-family: "Open Sans", sans-serif;
      h2 {
        font-family: "Raleway", sans-serif;
      }
    }
  }
  img #background-img {
    width: 70%;
    max-width: 40px;
    max-height: 40px;
    position: absolute;
  }
}

.MuiButton-label a {
  font-size: 16px;
  text-decoration: none;
  color: $darkblue;
}

.team-wrapper {
  background: none;
  text-align: center;
  padding-top: 5%;
  h1 {
    padding-top: 200px;
    color: #fff;
    font-size: 92px;
    font-weight: 600;
    background: linear-gradient(
      to right,
      $darkblue 10%,
      $lightblue 50%,
      $lightgrayblue4 60%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
$hoverBgColor: $lightgrayblue5;
$hoverBgColor2: $lightblue;
/* Mixins */
@mixin createBox($width, $height, $bRadius, $bgColor, $margin) {
  width: $width;
  height: $height;
  border-radius: $bRadius;
  background-color: $bgColor;
  margin: $margin;
  transition: 0.3s all ease-in-out;
}

.container-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
  .box {
    @include createBox(350px, 350px, 10px, $lightgray1, 20px);
    position: relative;
    box-shadow: 0px 0px 15px #1a658f;
    .boxContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 17px;
      .icon {
        color: $darkblue;
        font-size: 50px;
        padding: 15px;
      }
      .title-about {
        font-size: 24px;
        color: $lightgrayblue5;
        font-weight: bold;
        padding: 10px;
        background: none;
      }
      .desc {
        color: $lightgrayblue5;
        font-size: 20px;
        width: 90%;
        height: 20%;
      }
      h3 {
        font-size: 50px;
        color: $darkblue;
        font-family: "Open Sans", sans-serif;
      }
    }
    /* Link */
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:hover {
      background: linear-gradient(
        130deg,
        $hoverBgColor 0%,
        $hoverBgColor2 100%
      );
      box-shadow: none;
      .icon {
        color: $darkblue;
        transition: 0.8s all ease-in-out;
      }

      .desc,
      .title-about,
      h3 {
        color: $lightgray1;
        transition: 0.8s all ease-in-out;
      }
    }
  }
}
