.App {
  text-align: center;
}

body {
  overflow-x: hidden;
  background-color: white;
}

.fade-in-text {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  transition: opacity 500ms ease-in;
}

.fadeOut {
  opacity: 0;
}
.fadeIn {
  opacity: 1;
}
.subtitles {
  font-weight: 900;
}

h1 {
  color: #ffffff;
  text-align: center;
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
  font-weight: bold;
}

svg {
  vertical-align: top;
}

/*Nav Bar and Footer*/

nav {
  display: flex;
}

nav ul {
  margin-left: 5%;
  padding-top: 5%;
  width: 70%;
  padding-bottom: 1%;
}

nav li {
  display: inline-block;
  padding: 0px 30px;
}

nav li a {
  transition: all 0, 3s ease 0s;
  color: rgba(43, 69, 136, 1);
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

nav a {
  max-width: 30%;
  margin-top: 1%;
}

nav li a:hover {
  color: rgba(43, 69, 136, 0.5);
}

nav .nav-logo {
  justify-content: flex-start;
  width: 60%;
  cursor: pointer;
  margin-left: 5%;
}

nav .contact-button {
  margin-left: 20%;
}

nav .contact-button a {
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  background: white;
  z-index: 1;
  top: 0;
}

button {
  padding: 12px 20px;
  background-color: rgba(255, 204, 0, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

#footer-container {
  min-height: 100%;
  overflow: auto;
  height: 185px;
  text-align: justify;
}

.footer {
  overflow: hidden;
  width: 100%;
  bottom: 0;
  background-color: #555555;
  height: 100%;
  left: 0;
}

.footer .footer-home {
  margin-left: 30%;
}
.footer ul {
  display: flex;
  list-style-type: none;
}

.footer li {
  margin-top: 1%;
  display: inline-block;
  padding: 30px 40px;
  height: 100%;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
}

.bottom-footer span {
  color: white;
  margin-left: 54%;
  font-size: 17px;
}

.bottom-footer .MuiSvgIcon-root {
  margin-top: 1.5%;
  font-size: 30px;
  margin-right: 0.5%;
}
.footer li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.footer .footer-email {
  color: white;
  margin-left: 80%;
}

.footer li a:hover {
  color: #648bc6;
}

.footer ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 7%;
  padding-top: 1%;
}

.footer ul h1 {
  background: none;
  font-weight: 300;
  font-size: 60px;
  padding-top: 1.5%;
}

.footer .footerNotes {
  display: inline-block;
  justify-content: flex-start;
  margin-top: 1.4%;
  margin-left: 40px;
  font-size: 12px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

form {
  text-align: center;
}

#repeat {
  padding-left: 2%;
  padding-bottom: 3.5%;
  font-size: 20px;
}
.button--container {
  margin-bottom: 5%;
}

.btn-2 {
  a {
    color: #0f4264;
  }
  text {
    color: #0f4264;
  }
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 55px;
  width: auto;
  position: relative;

  &::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 85%;
    top: 34%;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    transition: all 0.5s;
    border-radius: 50px;
    box-shadow: 0px 6px 10px rgb(145, 145, 157);
    padding: 1rem 3rem 1rem 1rem;
    background-color: rgba(255, 204, 0, 0.9);
    a {
      color: #052032;
    }

    &::after {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}
