$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;
$darkgray: #555555;

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $darkgray;
  font-size: 1em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: $darkgray;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $darkgray;
  font-size: 1em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: $darkgray;
}

input::placeholder,
textarea::placeholder {
  color: $darkgray;
  font-size: 1em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: $darkgray;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: $darkgray;
  font-size: 1em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: $darkgray;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: rgb(162, 187, 220);
  font-size: 1em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: $darkgray;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: rgb(162, 187, 220);
  font-size: 1em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: $darkgray;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: $darkgray;
  font-size: 1em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: white;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: $darkgray;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: white;
}

#form {
  position: relative;
  width: 600px;
  margin: 54px auto 100px auto;
  text-align: center;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  width: 550px;
  height: 70px;
  padding: 0px 15px 0px 15px;
  z-index: 99999;
  background: transparent;
  outline: none;
  color: $darkgray;

  border: solid 2px $darkgray;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: $lightgray2;
  color: white;
}

textarea {
  width: 550px;
  max-width: 550px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: $darkgray;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;

  border: solid 2px $darkgray;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: $lightgray2;
  color: white;
}

.Contact {
  padding-top: 7%;
  width: 100%;
  height: 100%;
  min-height: 900px;
  display: flex;
  justify-content: center;
}

.contact-check-box {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
}

.contact-check-box svg {
  width: 40px;
  margin: 20px;
}
.contact-para {
  font-family: "Open Sans", sans-serif;
  margin-top: 1%;
  text-align: center;
}

.form-title {
  color: #1a658f;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  background: none;
  width: 100%;
}
