$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;
$lightblue: #297caf;

.position-relative {
  position: relative !important;
}
.footer {
  background-color: $lightgray1;
  padding-top: 3rem;
}
#footer-logo {
  width: 33%;
}
.container-footer,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer-light .heading {
  color: $darkblue;
}
.footer-dark .heading {
  color: $lightgray1;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-top: 47px;
}

.fill-section-primary {
  fill: $lightgray1 !important;
}
.ml-lg-auto {
  margin-left: auto !important;
}
.justify-content-md-between {
  justify-content: space-between !important;
}
.justify-content-center {
  justify-content: center !important;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1500px;
  }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 314px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 3%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-sm-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.text-sm {
  font-size: 0.875rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.col-lg-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.mb-lg-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 2rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.align-items-center {
  align-items: center !important;
}

.footer .nav-link {
  font-size: 0.875rem;
}

.footer-light p {
  color: #718096;
}

.footer-light .heading {
  color: $darkblue;
}

.footer-light .copyright a {
  color: #4a5568;
}
.footer-light .copyright a:hover {
  color: #008aff;
}

.footer-dark p {
  color: $lightgray1;
}

.footer-dark .heading {
  color: $lightgray1;
}

.footer-dark {
  background-color: #273444;
  color: $lightgray2;
}
.footer-dark .heading {
  color: $lightgray1;
}
.footer-dark .nav .nav-item .nav-link,
.footer-dark,
.footer-dark .footer-link {
  color: $lightgray2;
}
.footer-dark .nav .nav-item .nav-link:hover,
.footer-dark .footer-link:hover {
  color: $lightgray1;
}
.footer-dark hr {
  border-color: gray;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1.25rem;
  border-top: 1px solid $lightgray1;
  border-bottom-right-radius: calc(0.75rem - 1px);
  border-bottom-left-radius: calc(0.75rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.blockquote footer {
  background: transparent;
}
.shape-container-footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transform: translateZ(0);
  overflow: hidden;
}
.shape-line {
  min-height: 19px;
}
.shape-container-footer svg {
  display: block;
  fill: $lightgray1;
  pointer-events: none;
  vertical-align: baseline;
  background: $darkblue;
}

.shape-position-top {
  top: 0;
  margin-top: -1px;
}

.shape-orientation-inverse {
  transform: rotate(180deg);
}

.footer-container {
  min-width: 992px !important;
}
.pt-lg-7 {
  padding-top: 6rem !important;
}
.bg-dark-white {
  background-color: $lightgray1 !important;
}

a.bg-dark-white:hover,
a.bg-dark-white:focus,
button.bg-dark-white:hover,
button.bg-dark-white:focus {
  background-color: $lightgray1 !important;
}
.bg-dark {
  background-color: $darkblue !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: $darkblue !important;
}

.bg-dark-primary {
  background-color: #006ecc !important;
}

a.bg-dark-primary:hover,
a.bg-dark-primary:focus,
button.bg-dark-primary:hover,
button.bg-dark-primary:focus {
  background-color: #005399 !important;
}

.bg-dark-secondary {
  background-color: $lightgray1 !important;
}

a.bg-dark-secondary:hover,
a.bg-dark-secondary:focus,
button.bg-dark-secondary:hover,
button.bg-dark-secondary:focus {
  background-color: $lightgray2 !important;
}

.bg-dark-success {
  background-color: #3cb690 !important;
}

a.bg-dark-success:hover,
a.bg-dark-success:focus,
button.bg-dark-success:hover,
button.bg-dark-success:focus {
  background-color: #308f72 !important;
}
.bg-dark-info {
  background-color: #1d9fff !important;
}

a.bg-dark-info:hover,
a.bg-dark-info:focus,
button.bg-dark-info:hover,
button.bg-dark-info:focus {
  background-color: #0086e9 !important;
}
.bg-dark-warning {
  background-color: #ffad0a !important;
}

a.bg-dark-warning:hover,
a.bg-dark-warning:focus,
button.bg-dark-warning:hover,
button.bg-dark-warning:focus {
  background-color: #d68e00 !important;
}
.bg-dark-danger {
  background-color: #ee283c !important;
}

a.bg-dark-danger:hover,
a.bg-dark-danger:focus,
button.bg-dark-danger:hover,
button.bg-dark-danger:focus {
  background-color: #d31024 !important;
}
.bg-dark-light {
  background-color: $lightgray1 !important;
}

a.bg-dark-light:hover,
a.bg-dark-light:focus,
button.bg-dark-light:hover,
button.bg-dark-light:focus {
  background-color: $lightgray2 !important;
}
.bg-dark-dark {
  background-color: #0a081f !important;
}

a.bg-dark-dark:hover,
a.bg-dark-dark:focus,
button.bg-dark-dark:hover,
button.bg-dark-dark:focus {
  background-color: transparent !important;
}
.bg-dark-neutral {
  background-color: $lightgray1 !important;
}

a.bg-dark-neutral:hover,
a.bg-dark-neutral:focus,
button.bg-dark-neutral:hover,
button.bg-dark-neutral:focus {
  background-color: $lightgray1 !important;
}
.bg-dark-white {
  background-color: $lightgray1 !important;
}

a.bg-dark-white:hover,
a.bg-dark-white:focus,
button.bg-dark-white:hover,
button.bg-dark-white:focus {
  background-color: $lightgray1 !important;
}
