$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;
$lightblue: #297caf;
$yellow: rgb(255, 204, 0);

.homeWholePage {
  min-width: 2000px;
}

.home-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 50%;
}

.chevron {
  margin-top: -20px;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  bottom: 0;
  border-top: 416px solid $lightgray1;
  border-left: 351px solid transparent;
}

.intro {
  display: grid;
  position: relative;
  height: 620px;
  background: $lightgray1;
  margin-top: 200px;
  .home-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 3%;
    margin-left: 75%;
  }
  .chevron {
    margin-top: -20px;
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }

  .chevron:before,
  .chevron:after {
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: $lightgrayblue5;
  }

  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }

  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  .home-arrow .text {
    display: block;
    margin-top: 120px;
    font-size: 15px;
    color: $darkblue;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.25;
    animation: pulse 2s linear alternate infinite;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}

.HomePara {
  text-align: center;
  height: 400px;
  width: 100%;
  margin: auto;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  .home-inner-container {
    display: inline-block;
    transform: skewX(40deg);
    height: 100%;
    max-height: 400px;
    width: 40%;
    left: -98px;
    position: absolute;
    background: $lightgrayblue4;
  }
}

.main-para-home {
  bottom: 59%;
  left: 41%;
  position: absolute;
  color: $darkblue;
  text-align: center;
  width: 900px;
}

.HomePara b {
  color: #297caf;
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
.stats {
  .stats-container {
    width: 94%;
    height: 275px;
    margin-left: 3%;
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      90deg,
      $lightgrayblue4 0%,
      $lightgrayblue5 40%,
      $darkblue 100%
    );
  }
  min-height: 350px;
}
.stat {
  padding-top: 60px;
}

.stat-value {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: $lightgray1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.meta {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: var(--stat-heading);
  font-size: 20px;
  margin-top: 10px;
  color: $lightgray1;
  letter-spacing: 1px;
}

.active,
.dot:hover {
  background-color: #e3d9d9;
}

.slideshowImage {
  width: 100%;
}

$master-grey: #f0f0f0;

$master-l-10: mix($lightgray1, $master-grey, 10%);
$master-d-10: mix(black, $master-grey, 10%);
$master-d-15: mix(black, $master-grey, 15%);

// font colors
$font-base: mix(black, $master-grey, 50%);
$font-dark: mix(black, $master-grey, 80%);
$font-spot: #08c;

$wide-m: 600px;

@mixin wide-m {
  @media (max-width: #{$wide-m}) {
    @content;
  }
}

$mx-width: 50rem;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: $font-spot;
}

strong {
  font-weight: normal;
  color: $font-dark;
}

.wrap-3d {
  width: 70%;
  height: 70%;
  max-height: 100%;
  padding-top: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $master-grey;
  transform-style: preserve-3d;
  perspective: 150rem;
  perspective-origin: 50% 110%;
}

.item-3d {
  width: 100%;
  padding-bottom: 5%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  background-color: $lightgrayblue4;
  margin-left: 70px;
  border-top: 109px solid transparent;
  border-left: 92px solid $lightgray1;
  #triangle {
    width: 0;
    height: 0;
    z-index: 0;
    position: absolute;
    bottom: 0;
    border-bottom: 451px solid $lightgray1;
    border-right: 365px solid transparent;
  }
}

.ground {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
  background-size: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 80%;
  }

  &:before {
    top: 0;
    height: 80%;
    max-width: $mx-width;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  &:after {
    height: 100px;
    transform-origin: 50% 0;
    transform: rotateX(-70deg);
  }
}

//switching the dropshadows from left to right
.item-3d:nth-child(even) .ground:before {
  background-position: 80% 50%;
  animation: floating-shadow-r 5s -1s infinite;
}

.item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  animation: floating-shadow-l 5s -1s infinite;
}

@keyframes floating-shadow-l {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-r {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}

.item-content {
  position: relative;
  width: 100%;
  max-width: $mx-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transform: translateZ(0);
}

.item-img {
  position: relative;
  float: left;
  display: block;
  width: 40%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;

  img {
    display: block;
    width: 100%;
    height: auto;
    transform-origin: 50% 100%;
    transform: translateZ(-5rem);
  }
}

.item-3d:nth-child(even) .item-img {
  left: 20%;
  order: 1;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(0);
  }
}

.item-caption {
  display: block;
  text-align: center;
  position: relative;
  float: right;
  left: 15%;
  width: 80%;
  //box-shadow: inset 0 0 0 1px red;
}

.item-3d:nth-child(odd) .item-caption {
  padding-left: 10%;
}

.item-3d:nth-child(even) .item-caption {
  padding-right: 10%;

  @include wide-m {
    padding-right: 5%;
  }
}

.item-caption p {
  font-size: 87.5%;
  line-height: 1.333;
  padding: 30px;
  letter-spacing: 1px;

  @include wide-m {
    margin-bottom: 0.5rem;
  }
}

.item-caption p a {
  position: relative;
  display: inline-block;
  margin-bottom: 0.3rem;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;

  &:before {
    content: "";
    position: absolute;
    right: 1rem;
    bottom: 3px;
    left: 0;
    height: 1px;
    background-color: $font-spot;
    opacity: 0;
    transition: opacity 0.25s;
  }

  &:after {
    content: "\003E";
    padding-left: 0.5rem;
    text-decoration: none;
  }

  &:hover:before,
  &:active:before,
  &:focus:before {
    opacity: 0.5;
  }
}

.item-caption {
  p {
    font-size: 20px;
    color: $darkblue;
    font-weight: 400;
    b {
      color: white;
    }
  }
  h2 {
    font-size: 40px;
    margin-top: 9px;
  }
}
#side-slanted-line {
  height: 13px;
  background-color: #09466f;
  transform: rotate(51deg);
  width: 49%;
  z-index: 10;
  position: absolute;
  border-width: 0px;
  border-color: #09466f;
  left: -20%;
  top: 34%;
}
#rectangle1 {
  height: 20px;
  width: 40px;
}
.carousel {
  height: 250px;
  background: $lightgrayblue4;
}
.wordCarousel {
  font-size: 80px;
  color: $lightgray1;
  div {
    overflow: hidden;
    position: relative;
    margin-top: -5.5%;
    height: 90px;
    text-transform: capitalize;
    left: 47.5%;

    li {
      font-family: "Raleway", sans-serif;
      text-transform: capitalize;

      color: $darkblue;
      font-weight: 600;
      letter-spacing: 6px;
      padding: 0 70px;
      height: 45px;
      margin-bottom: 45px;
      display: block;
      z-index: 99;
    }
  }
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.carousel-title h1 {
  font-weight: 700;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  margin-top: 4%;
  letter-spacing: 6px;
  display: inline-block;
  margin-left: 25%;
}

.btn-1 {
  a {
    color: #0f4264;
  }
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 12px;
  width: auto;
  position: relative;

  &::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 85%;
    top: 34%;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    transition: all 0.5s;
    border-radius: 10px;
    background-color: $lightgray2;
    padding: 1rem 3rem 1rem 1rem;
    a {
      color: $lightgray1;
    }
    &::after {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

.more-info {
  height: 650px;
  .info-title {
    h1 {
      color: #1a658f;
      font-family: "Raleway" sans-serif;
      font-weight: 500;
      font-size: 50px;
      background: none;
      width: 100%;
      padding-right: 62%;
    }
  }
  .paper1-home {
    position: absolute;
    left: 22%;
    width: 35%;
    height: 20%;
    text-align: center;
    top: 73%;
  }
  .paper2-home {
    height: 20%;
    position: absolute;
    right: 10%;
    width: 35%;
    top: 73%;
    text-align: center;
    padding: 20px;
  }
  .paper1-home .MuiButton-contained {
    background-color: rgb(255, 204, 0);
    :hover {
      background-color: rgb(249, 226, 133);
    }
  }

  .paper2-home .MuiButton-contained {
    background-color: rgb(255, 204, 0);
  }
  .paper1-home .MuiPaper-root {
    top: 20%;
    position: absolute;
    width: 60%;
    height: 65%;
    text-align: center;
    padding: 25px;
    font-family: "Open Sans", sans-serif;
    h2 {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
    }
    p {
      margin-top: 5%;
      color: #555555;
      font-weight: 400;
      font-size: 15px;
    }
  }

  .paper2-home .MuiPaper-root {
    top: 20%;
    position: absolute;
    width: 60%;
    height: 65%;
    text-align: center;
    padding: 25px;
    font-family: "Open Sans", sans-serif;
    h2 {
      font-family: "Raleway", sans-serif;
      font-size: 20px;
    }
    p {
      margin-top: 5%;
      color: #555555;
      font-weight: 400;
      font-size: 15px;
    }
  }
  div.info-arrow {
    width: 3vmin;
    height: 3vmin;
    box-sizing: border-box;
    position: absolute;
    left: 45%;
    top: 80%;
    transform: rotate(45deg);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      border-width: 0.8vmin 0.8vmin 0 0;
      border-style: solid;
      border-color: $darkblue;
      transition: 0.2s ease;
      display: block;
      transform-origin: 100% 0;
    }

    &:after {
      content: "";
      float: left;
      position: relative;
      bottom: 85%;
      width: 100%;
      height: 90%;
      border-width: 0 0.8vmin 0 0;
      border-style: solid;
      border-color: $darkblue;
      transform-origin: 100% 0;
      transition: 0.2s ease;
    }

    &:hover::after {
      transform: rotate(45deg);
      border-color: $yellow;
      height: 110%;
    }
    &:hover::before {
      border-color: $yellow;
      transform: scale(0.8);
    }
  }
  .envira-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    font-size: 45px;
    color: green;
  }
  .award-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    font-size: 45px;
    color: $yellow;
  }
  #scrollToTopBtn {
    background-color: $yellow;
    border: 0;
    font-size: 1em;
    padding: 1rem;
    font-weight: 600;
    border-radius: 55px;
    font-family: "Open Sans", sans-serif;
    color: #0f4264;
    cursor: pointer;
    width: auto;
    position: relative;
    left: 85%;
    top: 72%;
  }
}
.intro-title {
  padding-left: 3em;
  padding-top: 1.7em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: "Raleway", serif;
  color: $lightgrayblue5;
  font-size: 6vw;
  font-weight: 600;
  width: 100%;
  z-index: 2;

  // start

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(20%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

.intro-osteofit {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  // outline: 1px solid red;
}

// [class*='inner'] {
//   outline: 1px solid blue;
// }

.intro-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.intro-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  // start
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.intro-image {
  grid-row: 1;
  grid-column: 2;
  margin-top: 12%;
  margin-left: 15rem;

  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

  @keyframes image-in {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  img {
    display: block;
    height: auto;
    width: 30%;
  }
}
#arrowAnim {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(233deg);
  position: absolute;
  right: 35%;
  top: 25%;
}

.arrow-side {
  width: 5vw;
  height: 5vw;
  border: 1.5vw solid;
  border-color: $darkblue transparent transparent $darkblue;
  transform: rotate(-45deg);
}

.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
  animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(15vw);
  }
  20% {
    opacity: 1;
    transform: translateX(9vw);
  }
  80% {
    opacity: 1;
    transform: translateX(-9vw);
  }
  100% {
    opacity: 0;
    transform: translateX(-15vw);
  }
}
