$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;
$lightblue: #297caf;
$darkgray: #555555;
$yellow: rgb(255, 204, 0);

.intro {
  display: grid;
  position: relative;
  background: $lightgray1;
}
.home-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: $lightgray1;
}
.chevron {
  margin-top: -160px;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: $lightgrayblue5;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }

  .home-arrow .text {
    display: block;
    margin-top: 120px;
    font-size: 15px;
    color: $darkblue;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: 0.25;
    animation: pulse 2s linear alternate infinite;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}

.HomePara {
  height: 222px;
  font-family: "Open Sans", sans-serif;
  .main-para-home {
    bottom: 42%;
    font-weight: 600;
    left: -18%;
    font-size: 27px;
    position: absolute;
    color: $darkblue;
    text-align: center;
    width: 900px;
  }
  b {
    color: $lightgrayblue1;
  }
}

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
.stats {
  .stats-container {
    width: 94%;
    height: 275px;
    margin-left: 3%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      90deg,
      $lightgrayblue4 0%,
      $lightgrayblue5 40%,
      $darkblue 100%
    );
  }
  min-height: 350px;
}
.stat {
  padding-top: 60px;
}

.stat-value {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: $lightgray1;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.meta {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: var(--stat-heading);
  font-size: 20px;
  margin-top: 10px;
  color: $lightgray1;
  letter-spacing: 1px;
}

.active,
.dot:hover {
  background-color: #e3d9d9;
}

.slideshowImage {
  width: 100%;
}

$master-grey: #f0f0f0;

$master-l-10: mix($lightgray1, $master-grey, 10%);
$master-d-10: mix(black, $master-grey, 10%);
$master-d-15: mix(black, $master-grey, 15%);

// font colors
$font-base: mix(black, $master-grey, 50%);
$font-dark: mix(black, $master-grey, 80%);
$font-spot: #08c;

$wide-m: 600px;

@mixin wide-m {
  @media (max-width: #{$wide-m}) {
    @content;
  }
}

$mx-width: 50rem;

.group:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: $font-spot;
}

strong {
  font-weight: normal;
  color: $font-dark;
}

.wrap-3d {
  width: 70%;
  height: 70%;
  max-height: 100%;
  padding-top: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $master-grey;
  transform-style: preserve-3d;
  perspective: 150rem;
  perspective-origin: 50% 110%;
}
.item-intro {
  transform-style: preserve-3d;
  background-color: $lightgray1;
  height: 105px;
  border-left: 158px solid $lightgray1;
}
.item-3d {
  width: 97%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  background-color: $lightgrayblue4;
  margin-left: 70px;
  border-left: 158px solid $lightgray1;
  #triangle {
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 81.9%;
    border-bottom: 713px solid $lightgray1;
    border-right: 620px solid transparent;
  }
}

.ground {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
  background-size: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 80%;
  }

  &:before {
    top: 0;
    height: 80%;
    max-width: $mx-width;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  &:after {
    height: 100px;
    transform-origin: 50% 0;
    transform: rotateX(-70deg);
  }
}

//switching the dropshadows from left to right
.item-3d:nth-child(even) .ground:before {
  background-position: 80% 50%;
  animation: floating-shadow-r 5s -1s infinite;
}

.item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  animation: floating-shadow-l 5s -1s infinite;
}

@keyframes floating-shadow-l {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-r {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}

.item-content {
  position: relative;
  width: 100%;
  max-width: 49rem;
  margin: -18px 18%;
  display: flex;
  align-items: center;
  transform: translateZ(0);
}

.item-img {
  position: relative;
  display: block;
  width: 39%;
  left: 35%;
  order: 1;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;

  img {
    display: block;
    width: 196%;
    height: auto;
    transform-origin: 50% 100%;
    transform: translateZ(-5rem);
  }
}

.item-3d:nth-child(even) .item-img {
  left: 20%;
  order: 1;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(0);
  }
}

.item-caption {
  display: block;
  text-align: center;
  position: relative;
  float: right;
  left: 23%;
  width: 80%;
  //box-shadow: inset 0 0 0 1px red;
}

.item-3d:nth-child(even) .item-caption {
  padding-right: 10%;

  @include wide-m {
    padding-right: 5%;
  }
}

.item-caption p {
  font-size: 87.5%;
  line-height: 1.333;
  padding: 30px;
  letter-spacing: 1px;

  @include wide-m {
    margin-bottom: 0.5rem;
  }
}

.item-caption p a {
  position: relative;
  display: inline-block;
  margin-bottom: 0.3rem;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;

  &:before {
    content: "";
    position: absolute;
    right: 1rem;
    bottom: 3px;
    left: 0;
    height: 1px;
    background-color: $font-spot;
    opacity: 0;
    transition: opacity 0.25s;
  }

  &:after {
    content: "\003E";
    padding-left: 0.5rem;
    text-decoration: none;
  }

  &:hover:before,
  &:active:before,
  &:focus:before {
    opacity: 0.5;
  }
}

.item-caption {
  p {
    font-size: 19px;
    color: $darkblue;
    font-weight: 400;
    b {
      color: $lightgrayblue3;
    }
  }
  h2 {
    font-size: 39px;
    margin-top: 9px;
    color: $darkblue;
  }
}
#side-slanted-line1 {
  height: 13px;
  background-color: #09466f;
  transform: rotate(49deg);
  width: 67%;
  z-index: 10;
  position: absolute;
  border-width: 0px;
  border-color: #09466f;
  left: -23.7%;
  top: -29%;
}
#side-slanted-line2 {
  height: 13px;
  background-color: #09466f;
  transform: rotate(134deg);
  width: 57%;
  z-index: 10;
  position: absolute;
  border-width: 0px;
  border-color: #09466f;
  left: -31.6%;
  top: 212%;
}

.btn-1 {
  a {
    color: #0f4264;
  }
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  margin-bottom: 31px;
  transition: all 0.5s;
  border-radius: 12px;
  width: auto;
  position: relative;

  &::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 85%;
    top: 34%;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    transition: all 0.5s;
    border-radius: 10px;
    background-color: $lightgray2;
    padding: 1rem 3rem 1rem 1rem;
    a {
      color: $lightgray1;
    }
    &::after {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

#white-arrow {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: $lightgray1;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: "";
    float: left;
    position: relative;
    bottom: 85%;
    width: 100%;
    height: 90%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: $lightgray1;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: $lightgray2;
    cursor: pointer;
  }
  &:hover::before {
    border-color: $lightgray2;
    transform: scale(0.8);
    cursor: pointer;
  }
}

.info-arrow {
  width: 3vmin;
  height: 3vmin;
  margin-left: 42%;
  box-sizing: border-box;
  transform: rotate(45deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: $darkblue;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: "";
    float: left;
    position: relative;
    bottom: 85%;
    width: 100%;
    height: 90%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: $darkblue;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: $lightgrayblue3;
    cursor: pointer;
  }
  &:hover::before {
    border-color: $lightgrayblue3;
    transform: scale(0.8);
    cursor: pointer;
  }
}
.envira-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  font-size: 50px;
  color: $lightgray1;
}
.award-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  font-size: 50px;
  color: $darkblue;
}
#scrollToTopBtn {
  background-color: $lightgrayblue2;
  border: 0;
  font-size: 1em;
  padding: 1rem;
  font-weight: 600;
  border-radius: 55px;
  font-family: "Open Sans", sans-serif;
  color: #0f4264;
  cursor: pointer;
  width: auto;
  position: relative;
  left: 90%;
  top: 79%;
}

.intro-title {
  padding-left: 3em;
  padding-top: 1.7em;
  padding-bottom: 2.3em;
  grid-column: 1 / -1;
  grid-row: 1;

  font-family: "Raleway", serif;
  color: $lightgrayblue5;
  font-size: 5vw;
  font-weight: 600;
  width: 100%;
  z-index: 2;

  // start

  > .title-inner {
    display: inline-block;
  }
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(20%);
  }
  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}

.intro-text {
  // start
  > .intro-text-inner {
    display: inline-block;
  }
}

.intro-osteofit,
.intro-text {
  animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
  // outline: 1px solid red;
}

// [class*='inner'] {
//   outline: 1px solid blue;
// }

.intro-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both;
}

.intro-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  animation: outer-left 1s 1s ease both;
}

.cafe {
  // start
  > .cafe-inner {
    display: inline-block;
  }
}

.mozart {
  display: inline-block;
}

.intro-image {
  grid-row: 1;
  grid-column: 2;
  padding-top: 2%;
  margin-left: 5rem;

  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;

  @keyframes image-in {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  img {
    display: block;
    height: auto;
    width: 75%;
  }
}
.homeWholePage {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px;
}
.intro-text-inner {
  display: inline-block;
  animation: inner-left 1s 1s ease both,
    text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
#home-img {
  width: 70%;
}
#word-carousel {
  background-color: $darkblue;
}
.ms-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100vh;

  &__title {
    flex: 1 1 100%;
    width: 100%;
    padding-top: 35px;

    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: $lightgray1;
    text-shadow: 0px 0px 2px rgba(black, 0.4);
  }
}

.ms-slider {
  display: inline-block;

  height: 1.5em;
  overflow: hidden;

  vertical-align: middle;

  mask-type: luminance;
  mask-mode: alpha;

  &__words {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 18px;

    list-style: none;

    animation-name: wordSlider;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 7s;
  }

  &__word {
    display: block;
    line-height: 1.3em;
    text-align: left;
  }
}

@keyframes wordSlider {
  $steps: -0%, -25%, -50%, -75%;

  @for $index from 0 to length($steps)-1 {
    $next: $index + 1;
    $step: floor(100/ (length($steps)-1));
    $animation_step: floor($step * 0.2);

    #{$step*$index}%,
    #{($step*$next) - $animation_step}% {
      transform: translateY(nth($steps, $index + 1));
    }
  }
  100% {
    transform: translateY(nth($steps, length($steps)));
  }
}
.right-para {
  color: white;
}
b {
  color: $lightblue;
}

.shape-container-home {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: $lightgray1;
  fill: white;
  z-index: 2;
  transform: translateZ(0);
  overflow: hidden;
  .shape-container-home svg {
    display: block;
    fill: white;
    pointer-events: none;
    vertical-align: baseline;
  }
}
