.product-pen {
  padding-left: 10%;
  color: #1a658f;
  font-size: 50px;
  font-weight: 500;
}

$mx-width: 50rem;

.product-paper {
  padding: 5%;
}

.product-paper h1 {
  background: none;
  padding: 30px;
  font-size: 50px;
}

.product-paper p {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.product-paper .MuiPaper-root {
  position: relative;
  background: #297caf;
  width: 60%;
  left: 22%;
  height: 40%;
  text-align: center;
  padding-bottom: 200px;
}

.product-item-3d {
  width: 100%;
  height: 20%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
}

.product-ground {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
  background-size: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 80%;
  }

  &:before {
    top: 0;
    height: 80%;
    max-width: $mx-width;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  &:after {
    bottom: -500px;
    height: 500px;
    transform-origin: 50% 0;
    transform: rotateX(-70deg);
  }
}

//switching the dropshadows from left to right
.product-item-3d:nth-child(even) .ground:before {
  background-position: 80% 50%;
  animation: floating-shadow-r 5s -1s infinite;
}

.product-item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  animation: floating-shadow-l 5s -1s infinite;
}

@keyframes floating-shadow-l {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-r {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}

.product-item-img {
  position: relative;
  display: block;
  left: 37.5%;
  width: 35%;
  height: 400px;
  top: 30%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;

  img {
    display: block;
    width: 65%;
    height: auto;
    transform-origin: 50% 100%;
    transform: translateZ(-5rem);
  }
}

.product-item-3d:nth-child(even) .item-img {
  float: left;
  order: 1;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(0);
  }
}

.model-section-1 {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.model-section-1 img {
  height: 250px;
}

.model-part-1 {
  position: relative;
  left: 10%;
}

.model-part-2 {
  position: relative;
  margin-left: auto;
  right: 10%;
}

.model-section-2 {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  margin: auto;
}

.model-section-2 img {
  height: 250px;
}

.model-part-3 {
  position: relative;
  left: 10%;
}

.model-part-4 {
  position: relative;
  margin-left: auto;
  right: 10%;
}

.model-part-1 .model-part-1-text {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.model-part-1:hover .model-part-1-text {
  visibility: visible;
  opacity: 1;
}

.model-part-2 .model-part-2-text {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 40%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.model-part-2:hover .model-part-2-text {
  visibility: visible;
  opacity: 1;
}

.model-part-3 .model-part-3-text {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.model-part-3:hover .model-part-3-text {
  visibility: visible;
  opacity: 1;
}

.model-part-4 .model-part-4-text {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  right: 40%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.model-part-4:hover .model-part-4-text {
  visibility: visible;
  opacity: 1;
}

.offer-paper .MuiPaper-root {
  position: relative;
  background: #297caf;
  width: 50%;
  left: 25%;
  height: 40%;
  text-align: center;
  padding-bottom: 200px;
  margin-bottom: 150px;
}

.offer-paper {
  display: flex;
}

.offer-paper h1 {
  background: none;
  padding-top: 20px;
}

.dropbtn {
  background-color: rgb(255, 204, 0);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.offer-1 {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  right: 18%;
}

.offer-2 {
  position: relative;
  display: inline-block;
  left: 18%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: center;
}

.dropdown-content-2 p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: center;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.offer-1:hover .dropdown-content {
  display: block;
}

.offer-2:hover .dropdown-content-2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.offer-1:hover .dropbtn {
  background-color: rgb(255, 204, 0);
}

.offer-2:hover .dropbtm {
  background-color: rgb(255, 204, 0);
}
