.product-pen {
  padding-left: 10%;
  color: #1a658f;
  font-size: 50px;
  font-weight: 500;
}

.product-pen span {
  font-weight: 700;
}

$mx-width: 50rem;

.product-paper {
  padding: 2%;
}

.product-paper p {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.product-paper .MuiPaper-root {
  position: relative;
  background: #297caf;
  width: 90%;
  left: 5%;
  height: 40%;
  padding: 4%;
  margin-top: 3%;
  padding-top: 3%;
  text-align: center;
}

.product-item-3d {
  width: 100%;
  height: 20%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
}

.product-ground {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
  background-size: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 80%;
  }

  &:before {
    top: 0;
    height: 80%;
    max-width: $mx-width;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  &:after {
    bottom: -500px;
    height: 500px;
    transform-origin: 50% 0;
    transform: rotateX(-70deg);
  }
}

//switching the dropshadows from left to right
.product-item-3d:nth-child(even) .ground:before {
  background-position: 80% 50%;
  animation: floating-shadow-r 5s -1s infinite;
}

.product-item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  animation: floating-shadow-l 5s -1s infinite;
}

@keyframes floating-shadow-l {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-r {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}

.product-item-img {
  position: relative;
  display: block;
  left: 37.5%;
  width: 35%;
  height: 400px;
  top: 30%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;

  img {
    display: block;
    width: 65%;
    height: auto;
    transform-origin: 50% 100%;
    transform: translateZ(-5rem);
  }
}

.product-item-3d:nth-child(even) .item-img {
  float: left;
  order: 1;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(0);
  }
}

.model-section-1 {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.model-section-1 img {
  height: 250px;
}

.model-part-1 {
  position: relative;
  left: 10%;
}

.model-part-2 {
  position: relative;
  margin-left: auto;
  right: 10%;
}

.model-section-2 {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  margin: auto;
}

.model-section-2 img {
  height: 250px;
}

.model-part-3 {
  position: relative;
  left: 10%;
}

.model-part-4 {
  position: relative;
  margin-left: auto;
  right: 44%;
}

.model-part-1 .model-part-1-text {
  visibility: hidden;
  width: 420px;
  height: 220px;
  background-color: #1a658f;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 100%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-right: 5%;
}

.model-part-1:hover .model-part-1-text {
  visibility: visible;
  opacity: 1;
}

.model-part-2 .model-part-2-text {
  visibility: hidden;
  width: 420px;
  height: 220px;
  background-color: #1a658f;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 1%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-right: 5%;
  right: 90%;
}

.model-part-2:hover .model-part-2-text {
  visibility: visible;
  opacity: 1;
}

.model-part-4 .model-part-4-text {
  visibility: hidden;
  width: 420px;
  height: 220px;
  background-color: #1a658f;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 1%;
  left: 100%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-right: 5%;
}

.model-part-4:hover .model-part-4-text {
  visibility: visible;
  opacity: 1;
}

.card-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.productBackground {
  position: relative;
  width: 60%;
  height: 475px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.first {
  z-index: 0;
  animation: 1s width ease;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.second {
  z-index: -1;
}

.gradient[color="gray"] {
  background-image: linear-gradient(45deg, #67696f, #dfe1e3);
}

.gradient[color="black"] {
  background-image: linear-gradient(45deg, #111, #666);
}

.gradient[color="brown"] {
  background-image: linear-gradient(45deg, #433007, #5e5135);
}

.gradient[color="blue"] {
  background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="green"] {
  background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="red"] {
  background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="orange"] {
  background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="yellow"] {
  background-image: linear-gradient(45deg, #ffc341, #ffee38);
}

.gradient[color="aqua"] {
  background-image: linear-gradient(45deg, #11708e, #6ae4ff);
}

.gradient[color="purple"] {
  background-image: linear-gradient(45deg, #550461, #8337fe);
}

.gradient[color="violet"] {
  background-image: linear-gradient(45deg, #6a2176, #dd98ff);
}

.productName {
  padding: 0 0 10px 0;
}

.productName div {
  display: flex;
  align-items: center;
}

.productName div .big {
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}

.productName,
.color-container,
.size-container {
  border-bottom: 1px solid #dadada;
}

.subtitle {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.color-container {
  padding: 10px 0;
}

.colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: 0.5s;
}

.color[color="gray"] {
  background-color: rgb(123, 123, 123);
  border-color: rgb(123, 123, 123);
}

.color[color="black"] {
  background-color: #444;
  border-color: #444;
}

.color[color="brown"] {
  background-color: rgb(84, 56, 34);
  border-color: rgb(84, 56, 34);
}

.color[color="blue"] {
  background-color: #2175f5;
  border-color: #2175f5;
}

.color[color="green"] {
  background-color: #29b864;
  border-color: #29b864;
}

.color[color="red"] {
  background-color: #f84848;
  border-color: #f84848;
}

.color[color="orange"] {
  background-color: #ff5521;
  border-color: #ff5521;
}

.color[color="yellow"] {
  background-color: rgb(247, 211, 65);
  border-color: rgb(247, 211, 65);
}

.color[color="aqua"] {
  background-color: rgb(63, 228, 217);
  border-color: rgb(63, 228, 217);
}

.color[color="purple"] {
  background-color: rgb(78, 19, 121);
  border-color: rgb(78, 19, 121);
}

.color[color="violet"] {
  background-color: rgb(96, 34, 96);
  border-color: rgb(96, 34, 96);
}

.color .active {
  border-color: rgb(36, 84, 143);
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.size-container {
  padding: 10px 0;
  margin-bottom: 10px;
}

.sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.size.active {
  color: #fff;
  transition: 0.5s;
}

.product {
  position: absolute;
  width: 140%;
  opacity: 0;
  bottom: 0;
  right: 0%;
  transform: rotate(-20deg);
  transition: 0.5s;
  padding-left: 220px;
}

.product.show {
  opacity: 1;
}

.logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.productOsteofit {
  position: absolute;
  top: 100px;
  left: 15px;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
  opacity: 0.1;
}

.info {
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.info .productName h1 {
  background: none;
  color: #1a658f;
}

.model-part-1-text ul li {
  color: #ffffff;
  font-size: 18px;
}

.component-title .MuiPaper-root {
  width: 60%;
  padding: 4%;
  margin-left: 20%;
}

.component-title h3 {
  text-align: center;
  color: #1a658f;
}
