.product-pen {
  padding-left: 14.2%;
  color: #1a658f;
  font-size: 50px;
  font-weight: 500;
  max-width: 90%;
}

.product-pen span {
  font-weight: 700;
}

$mx-width: 50rem;

.product-paper {
  padding: 2%;
}

.product-paper p {
  color: white;
  padding: 10px;
  font-size: 20px;
}

.product-paper .MuiPaper-root {
  position: relative;
  background: #297caf;
  width: 90%;
  left: 5%;
  height: 40%;
  padding: 4%;
  margin-top: 3%;
  padding-top: 3%;
  text-align: center;
  border-radius: 55px;
}

.product-item-3d {
  width: 100%;
  height: 20%;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
}

.product-ground {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  margin: auto;
  background-size: 100%;
  transform-origin: 50% 100%;
  transform: rotateX(70deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 80%;
  }

  &:before {
    top: 0;
    height: 80%;
    max-width: $mx-width;
    background-size: 50% 80%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }

  &:after {
    bottom: -500px;
    height: 500px;
    transform-origin: 50% 0;
    transform: rotateX(-70deg);
  }
}

//switching the dropshadows from left to right
.product-item-3d:nth-child(even) .ground:before {
  background-position: 80% 50%;
  animation: floating-shadow-r 5s -1s infinite;
}

.product-item-3d:nth-child(odd) .ground:before {
  background-position: 0 50%;
  animation: floating-shadow-l 5s -1s infinite;
}

@keyframes floating-shadow-l {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 10% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 0 80%;
  }
}

@keyframes floating-shadow-r {
  0%,
  100% {
    background-size: 35% 80%;
    background-position: 90% 80%;
  }
  50% {
    background-size: 50% 80%;
    background-position: 100% 80%;
  }
}

.product-item-img {
  position: relative;
  display: block;
  left: 38.5%;
  width: 35%;
  height: 400px;
  top: 30%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  animation: floating 5s -1s infinite;

  img {
    display: block;
    width: 65%;
    height: auto;
    transform-origin: 50% 100%;
    transform: translateZ(-5rem);
  }
}

.product-item-3d:nth-child(even) .item-img {
  float: left;
  order: 1;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(0);
  }
}

.card-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.productBackground {
  position: relative;
  width: 60%;
  height: 475px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.first {
  z-index: 0;
  animation: 1s width ease;
}

.second {
  z-index: -1 !important;
}
@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.gradient[color="gray"] {
  background-image: linear-gradient(45deg, #67696f, #dfe1e3);
}

.gradient[color="black"] {
  background-image: linear-gradient(45deg, #111, #666);
}

.gradient[color="brown"] {
  background-image: linear-gradient(45deg, #433007, #5e5135);
}

.gradient[color="blue"] {
  background-image: linear-gradient(45deg, #1a658f, #297caf);
}

.gradient[color="green"] {
  background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="red"] {
  background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="orange"] {
  background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="yellow"] {
  background-image: linear-gradient(45deg, #ffc341, #ffee38);
}

.gradient[color="aqua"] {
  background-image: linear-gradient(45deg, #11708e, #6ae4ff);
}

.gradient[color="purple"] {
  background-image: linear-gradient(45deg, #550461, #8337fe);
}

.gradient[color="violet"] {
  background-image: linear-gradient(45deg, #6a2176, #dd98ff);
}

.productName {
  padding: 0 0 10px 0;
}

.productName div {
  display: flex;
  align-items: center;
}

.productName div .big {
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}

.productName,
.color-container,
.size-container {
  border-bottom: 1px solid #dadada;
}
.outer-container-product {
  width: 100%;
  height: 850px;
  overflow: auto;
  h1 {
    color: white;
    left: 2%;
    background: none;
    font-size: 38px;
    top: 64.2%;
    font-family: "Open Sans", sans-serif;
    position: absolute;
  }
  .color-square {
    width: 40%;
    height: 3.5%;
    background: #1a658f;
    border-radius: 10px 10px 0px 0px;
    margin-top: 1%;
    position: absolute;
    left: 28%;
  }
}
.subtitle {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.color-container {
  padding: 10px 0;
}

.colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  transition: 0.5s;
}

.color[color="gray"] {
  background-color: rgb(123, 123, 123);
  border-color: rgb(123, 123, 123);
}

.color[color="black"] {
  background-color: #444;
  border-color: #444;
}

.color[color="brown"] {
  background-color: rgb(84, 56, 34);
  border-color: rgb(84, 56, 34);
}

.color[color="blue"] {
  background-color: #2175f5;
  border-color: #2175f5;
}

.color[color="green"] {
  background-color: #29b864;
  border-color: #29b864;
}

.color[color="red"] {
  background-color: #f84848;
  border-color: #f84848;
}

.color[color="orange"] {
  background-color: #ff5521;
  border-color: #ff5521;
}

.color[color="yellow"] {
  background-color: rgb(247, 211, 65);
  border-color: rgb(247, 211, 65);
}

.color[color="aqua"] {
  background-color: rgb(63, 228, 217);
  border-color: rgb(63, 228, 217);
}

.color[color="purple"] {
  background-color: rgb(78, 19, 121);
  border-color: rgb(78, 19, 121);
}

.color[color="violet"] {
  background-color: rgb(96, 34, 96);
  border-color: rgb(96, 34, 96);
}

.color .active {
  border-color: rgb(36, 84, 143);
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.size-container {
  padding: 10px 0;
  margin-bottom: 10px;
}

.sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.3s;
}

.size .active {
  color: #fff;
  transition: 0.5s;
}

.product {
  position: absolute;
  width: 140%;
  opacity: 0;
  right: 0%;
  transform: rotate(-20deg);
  transition: 0.5s;
  padding-left: 220px;
  margin-top: 75px;
}

img.product.show {
  opacity: 1;
}

.show {
  opacity: 1;
}

.logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.productOsteofit {
  position: absolute;
  top: 100px;
  left: 15px;
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
  opacity: 0.1;
}

.info {
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 75px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.info .productName h1 {
  background: none;
  color: #1a658f;
}

.model-part-1-text ul li {
  color: #ffffff;
  font-size: 18px;
}

.component-title .MuiPaper-root {
  width: 60%;
  padding: 6%;
  margin-left: 20%;
  border-radius: 55px;
}

.component-title h3 {
  text-align: center;
  color: #1a658f;
}

@mixin createBox($width, $height, $bRadius, $bgColor, $margin) {
  width: $width;
  height: $height;
  border-radius: $bRadius;
  background-color: $bgColor;
  margin: $margin;
  transition: 0.3s all ease-in-out;
}

$hoverBgColor: #1a658f;
$hoverBgColor2: #0f4264;

.container-product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
  .box {
    @include createBox(350px, 400px, 10px, white, 20px);
    position: relative;
    box-shadow: 0px 0px 15px #1a658f;
    margin-top: 18%;
    .box-header {
      position: relative;
      height: 45%;
      background: #cbcbcb;
      border-radius: 10px 10px 0px 0px;
      h1 {
        font-size: 24px;
        color: #1a658f;
        font-weight: bold;
        padding: 10px;
        background: none;
      }
      .title1 {
        margin-left: 20%;
        margin-top: 2%;
      }
      .title2 {
        margin-left: 14%;
        margin-top: 2%;
      }
      .title3 {
        margin-top: 2%;
        margin-left: 24%;
      }
      img {
        position: relative;
        top: 6%;
        left: 28%;
      }
    }

    .boxContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 17px;
      .icon {
        color: #1a658f;
        font-size: 50px;
        padding: 15px;
      }

      .desc {
        color: #555555;
        line-height: 1.4;
        text-align: left;
        font-size: 18px;
        height: 20%;
        font-family: "Open Sans", sans-serif;
      }
      ul {
        padding: 10px;
        padding-left: 25px;
      }
    }
    /* Link */
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:hover {
      background: linear-gradient(
        130deg,
        $hoverBgColor 0%,
        $hoverBgColor2 100%
      );
      box-shadow: none;

      .desc,
      .title-about,
      h3 {
        color: white;
        transition: 0.8s all ease-in-out;
      }
    }
  }
}

.parts-img1 {
  width: 40%;
}
.parts-img2 {
  width: 27%;
  margin-left: 9%;
  margin-top: 2%;
}
.parts-img3 {
  width: 25%;
  margin-left: 9%;
  margin-top: 2%;
}

.arrow1 {
  color: #1a658f;
  position: absolute;
  left: 17%;
  top: 68.5%;
  transform: rotate(90deg);
  font-size: 80px;
  animation: slide1 1s ease-in-out;
}

.arrow2 {
  color: #1a658f;
  position: absolute;
  left: 48%;
  top: 68.5%;
  font-size: 80px;
  transform: rotate(90deg);
  animation: slide2 1s ease-in-out;
}

.arrow3 {
  color: #1a658f;
  position: absolute;
  left: 79%;
  top: 68.5%;
  transform: rotate(90deg);
  font-size: 80px;
  animation: slide3 1s ease-in-out;
}

.product-text {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 22px;
  line-height: 1.6;
  padding-bottom: 5%;

  b {
    color: #297caf;
  }
}
.problem-text {
  color: #1a658f;
  font-size: 35px;
  margin-left: 15%;
}
.product-container {
  width: 90%;
  padding-left: 15%;
  padding-top: 3%;
  padding-bottom: 5%;
  transform-origin: 50% 100%;

  img {
    position: absolute;
    left: 58%;
    width: 40%;
    top: 19.5%;
  }
}

.item-content-product {
  position: relative;
  width: 60%;

  h1 {
    color: #1a658f;
    font-size: 35px;
  }
}

.title-product span {
  overflow: hidden;
  display: block;
  position: absolute;
  font-size: 2em;
  padding-left: 72%;
  top: 8%;
}
