.recycle-para .MuiPaper-root {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 28%;
  text-align: center;
  font-size: 20px;
  padding: 60px;
  font-size: 25px;
  z-index: 9999;
}

.icon1 h2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 2%;
  margin-left: 5%;
  color: white;
  letter-spacing: 0.8px;
}
.icon2 h2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 2%;
  color: white;
  margin-left: 5.5%;
  letter-spacing: 0.8px;
}
.icon3 h2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 2%;
  margin-left: 5%;
  color: white;
  letter-spacing: 0.8px;
}
.icon1 {
  padding-top: 12%;
}

.icon2 {
  padding-top: 2%;
}

.icon3 {
  padding-top: 3%;
}

.icon1 span {
  padding-left: 1.8%;
}

.icon2 span {
  padding-left: 15%;
}

.icon3 span {
  padding-left: 5%;
}

.circle-icon-reusable {
  background: #da4040;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  margin-left: 20%;
}

.circle-icon-reusable2 {
  background: #da4040;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  margin-left: 18.3%;
}

.circle-icon-reusable3 {
  background: #da4040;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  margin-left: 20%;
}

.circle-icon-osteofit {
  background: #41ba31;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  margin-left: 22%;
}

.circle-icon-osteofit2 {
  background: #41ba31;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  margin-left: 22%;
}

.circle-icon-osteofit3 {
  background: #41ba31;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
  margin-left: 22%;
}

.cycles {
  position: relative;
  height: 1200px;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
section {
  padding: 3rem;
}
blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
blockquote.speech {
  width: 25%;
  padding-top: 6%;
  padding-bottom: 20%;
}

.benefits-single-use {
  position: relative;
  height: 800px;
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.recycle {
  position: relative;
  height: 800px;
}

.recycle h2 {
  padding-top: 3%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 50px;
}

/*.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
}
.li {
  transition: all 200ms ease-in;
  color: white;
} 

.timeline h4 {
  font-weight: 600;
  max-width: 55%;
  color: #555555;
  font-size: 25px;
}

.timeline-osteofit h4 {
  font-weight: 600;
  max-width: 55%;
  color: #555555;
  font-size: 25px;
}

.timeline-circle {
  background: #1a658f;
  opacity: 0.8;
  line-height: 60px;
  vertical-align: middle;
  font-size: 45px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 9px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 20px;
  border: 2px solid #555555;
}
*/

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 150px 70px;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 120px;
  height: 3px;
  background: #297caf;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgba(255, 204, 0, 1);
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 120px;
  padding: 15px;
  font-size: 1rem;
  height: 80px;
  white-space: normal;
  color: black;
  background: #297caf;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

$separator-size: 8px;
$separator-border-style: solid;
$separator-border-color: rgb(255, 204, 0);
$separator-space-top: 18px;

.horz-line4 {
  border: 0;
  border-bottom: $separator-size $separator-border-style $separator-border-color;
  margin-top: 2.5%;
  margin-left: 5%;
  margin-bottom: 6%;
  opacity: 0.8;

  max-width: 90%;
  animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

.horz-line3 {
  border: 0;
  border-bottom: $separator-size $separator-border-style #297caf;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 1%;
  opacity: 0.8;

  max-width: 90%;
  animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

.horz-line2 {
  border: 0;
  border-bottom: $separator-size $separator-border-style $separator-border-color;
  margin-bottom: 3%;

  width: 0;
  animation: separator-width 5s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.horz-line1 {
  border: 0;
  border-bottom: $separator-size $separator-border-style $separator-border-color;
  margin-bottom: 1.5%;

  width: 0;
  animation: separator-width 10s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.timeline-osteofit {
  list-style-type: none;
  display: flex;
  align-items: center;
  max-width: 28%;
  margin-left: 9.8%;
  justify-content: center;
}

.cycles h1 {
  color: #1a658f;
  font-size: 45px;
  font-weight: 500;
  background: white;
  padding-top: 5%;

  span {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      darken(rgb(255, 209, 24), 15%) 5px
    );
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    span {
      background-size: 100%;
    }
  }
}

.comparison {
  position: relative;
  height: 750px;
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.comparison .comparison-title-resuable .MuiPaper-root {
  position: absolute;
  top: 7%;
  padding-top: 0.9%;
  left: 45%;
  width: 15%;
  height: 10%;
  opacity: 0.5;
  text-align: center;
  font-size: 24px;
}
.verticalLine {
  border-left: 6px solid white;
  height: 610px;
  position: absolute;
  top: 10%;
  left: 65%;
}
.comparison .comparison-title-osteofit .MuiPaper-root {
  position: absolute;
  top: 7%;
  padding-top: 0.9%;
  left: 70.5%;
  width: 15%;
  height: 10%;
  text-align: center;
  font-size: 24px;
  opacity: 0.5;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  padding-left: 1rem;
  padding-right: 3rem;

  > li {
    background: #297caf;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    min-height: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      content: counter(gradient-counter);
      display: flex;
      font: 800 1.5em/1 "Raleway";
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n + #{$i}):before {
        background: rgb(255, 204, 0);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n + #{$i}):before {
        background: rgb(255, 204, 0);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}

.cycles h2 {
  font-style: italic;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 10%;
  font-size: 40px;
  color: #555555;
}

.circle-icon-benefits1 {
  background: rgb(255, 204, 0);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 13%;
  margin-right: 4%;
}

.circle-icon-benefits2 {
  background: rgb(255, 204, 0);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 15%;
  margin-right: 2.5%;
}

.benefits h2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 2%;
  margin-left: 5%;
  color: white;
  letter-spacing: 0.8px;
}

.benefits-single-use h1 {
  padding-top: 4.5%;
  font-size: 40px;
  letter-spacing: 0.6px;
  font-family: "Trebuchet MS", sans-serif;
}

.benefits-single-use h3 {
  margin-bottom: 4%;
}

.benefits-single-use h3 span {
  font-family: "Trebuchet MS", sans-serif;
  margin-left: 22%;
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
}

.fa-hotjar:before {
  color: #cb562c;
}

.fa-disease:before {
  color: #555555;
}

.fa-dollar-sign:before {
  color: green;
}

.fa-bullseye:before {
  color: #cb562c;
}

.fa-angle-double-up:before {
  color: #555555;
}

.benefits h2 span .revenue-icon {
  margin-left: 11.9%;
}

.benefits h2 span .accuracy-icon {
  margin-left: 14.6%;
}

.wrapper {
  text-align: center;
  h2 {
    color: #fff;
    font-size: 92px;
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(
      to right,
      #297caf 10%,
      #3c94cf 50%,
      #57d75b 60%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.recycle .iconify {
  font-size: 600px;
  color: green;
  z-index: 1;
}

.recycle-desc {
  height: 150px;
}

.recycle .MuiPaper-root {
  position: absolute;
  top: 42%;
  left: 11%;
  width: 60%;
  height: 35%;
  text-align: center;
  font-size: 18px;
  padding: 40px;
  padding-top: 4.5%;
  font-size: 25px;
  z-index: 2;
  opacity: 0.9;
}

.recycle-desc {
  margin-left: 54%;
}

.materials img {
  width: 700px;
  max-height: 100%;
  margin-left: 27%;
}

.paper4 {
  position: relative;
  text-align: center;
  left: 15.2%;
  bottom: 30%;
}

.paper3 {
  top: 13%;
  position: relative;
  right: 18%;
  text-align: center;
}

.bottompapers2 h2 {
  color: #1a658f;
  text-transform: uppercase;
  font-size: 30px;
}

.bottompapers2 {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0;
}

.bottompapers2 p {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
}

.paper3 .MuiButton-contained {
  background-color: rgb(255, 204, 0);
}

.paper4 .MuiButton-contained {
  background-color: rgb(255, 204, 0);
}

.MuiButton-label a {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
