$lightgray1: #dae1e7;
$lightgray2: #9ca4ac;
$lightgrayblue1: #94acc1;
$lightgrayblue2: #8ea3bc;
$lightgrayblue3: #758ca5;
$lightgrayblue4: #5c84a3;
$lightgrayblue5: #4a6888;
$darkblue: #052032;

$lightblue: #297caf;
$yellow: rgb(255, 204, 0);
$darkgray: #555555;
$separator-size: 8px;
$separator-border-style: solid;
$separator-border-color: rgb(255, 204, 0);
$separator-space-top: 18px;
.SingleUse {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  min-width: 2000px;
}

.recycle-para .MuiPaper-root {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 28%;
  text-align: center;
  font-size: 20px;
  padding: 60px;
  font-size: 25px;
  z-index: 9999;
}

.title-single-use span {
  overflow: hidden;
  display: block;
  position: absolute;
  font-size: 1.8em;
  padding-left: 56%;
  top: 5.5%;
}

.icon1 h2,
.icon2 h2,
.icon3 h2 {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 1%;
  margin-left: 9.5%;
  color: $lightgray1;
  letter-spacing: 0.8px;
}
.icon2 {
  padding-bottom: 5%;
}
.icon1 {
  padding-top: 9%;
}

.icon2 {
  padding-top: 5%;
}

.circle-icon-reusable {
  background: #da4040;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 22.5%;
  position: absolute;
  right: 21.5%;
  top: 23%;
}

.circle-icon-reusable2 {
  background: #da4040;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  font-size: 40px;
  margin-left: 22.5%;
  position: absolute;
  right: 21.5%;
  top: 48%;
}

.circle-icon-reusable3 {
  background: #da4040;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  vertical-align: middle;
  margin-left: 23%;
  position: absolute;
  right: 21.5%;
  top: 73%;
}

.circle-icon-osteofit {
  background: #57d75b;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 15%;
  position: absolute;
  left: 34%;
  top: 23%;
}

.circle-icon-osteofit2 {
  background: #57d75b;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 28.5%;
  position: absolute;
  left: 20.5%;
  top: 48%;
}

.circle-icon-osteofit3 {
  background: #57d75b;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 18.5%;
  position: absolute;
  left: 30.5%;
  top: 73%;
}

section {
  display: flex;
  justify-content: center;
  align-content: center;
}
blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}
blockquote.speech {
  width: 25%;
  padding-top: 6%;
  padding-bottom: 20%;
}

.benefits-single-use {
  position: relative;
  height: 620px;
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.recycle {
  position: relative;
  height: 780px;
  text-align: center;

  h2 {
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 40px;
  }
  .iconify {
    font-size: 100px;
    color: #57d75b;
    top: 38%;
    left: 46.6%;
    position: absolute;
    padding: 0%;
  }
  span {
    position: absolute;
    left: 35%;
    top: 67%;
  }
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: 1%;
}

.timeline ol {
  width: 90vw;
  padding: 160px 182px;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 130px;
  height: 3px;
  background: #297caf;
}
#osteofit-li {
  width: 885px;
  height: 3px;
  color: #297caf;
  background: #297caf;
  display: inline-block;
  border: none;
}

.timeline ol li:last-child {
  width: 100px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100px;
  bottom: 0;
  z-index: 99;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: rgba(255, 204, 0, 1);
}
.timeline div:hover {
  width: 140px;
  height: 95px;
  padding: 10px;
  transition: 0.3s all ease-in;
  transition: 0.3s all ease-out;
  background: #3c94cf;
}
.span {
  position: absolute;
  left: 42%;
}

.timeline ol li div {
  position: absolute;
  left: 60px;
  width: 130px;
  padding: 8px;
  font-family: "Open Sans", sans-serif;
  height: 90px;
  text-align: center;
  white-space: normal;
  background: #297caf;
  transition: 0.3s all ease-out;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -48px;
  border-radius: 18px;
  transform: translateY(-100%);
  &:before {
    content: "";
    background: inherit;
    width: 40px;
    top: 65%;
    left: 35%;
    z-index: -1;
    height: 40px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
  }
  .timeline-title {
    margin-bottom: 8%;
    margin-top: 2%;
  }

  .badge {
    opacity: 0.8;
    background: $lightgray1;
    padding: 1.5px 10px;
    border-radius: 3px;
    margin-right: 60%;
    font-size: 18px;
    color: $darkgray;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
}
.timeline ol li:nth-child(even) div {
  top: calc(100% + 154px);
  border-radius: 18px;

  &:before {
    content: "";
    background: inherit;
    width: 40px;
    left: 34%;
    top: -12%;
    height: 40px;
    z-index: -1;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    border-radius: 0 0 0 2px;
  }

  .timeline-title {
    margin-left: 5%;
    margin-top: 23%;
    #osteofit-step1 {
      margin-top: 0%;
    }
  }

  .badge {
    background: $lightgray1;
    color: $darkgray;
    opacity: 0.8;
    padding: 1.5px 10px;
    border-radius: 3px;
    margin-right: 75%;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
}

#timeline-icons {
  position: absolute;
  display: flex;
  left: calc(86%);
  margin-top: -13px;
  color: rgb(55, 55, 55);
  font-size: 24px;
  z-index: 999;
}

.timeline ol li div {
  top: -45px;
  transform: translateY(-100%);
}

.timeline ol li div::before {
  top: 80%;
  left: 40%;
  border-width: 20px 20px 0 0;
  border-color: transparent transparent transparent transparent;
}

.timeline time {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $lightgray1;
  #step1 {
    font-size: 12px;
  }
}

.square {
  height: 80px;
  width: 180px;
  top: 34%;
  left: 44%;
  position: absolute;
  background-color: $lightgray1;
}

.horz-line4 {
  border: 0;
  border-bottom: $separator-size $separator-border-style $separator-border-color;
  margin-top: 1.5%;
  margin-left: 5%;
  margin-bottom: 2.2%;
  opacity: 0.8;

  max-width: 90%;
  animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}
.horz-line5 {
  border: 0;
  border-bottom: $separator-size $separator-border-style #555555;
  margin-top: 3%;
  opacity: 0.8;
  max-width: 90%;
}
@keyframes separator-width {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}
.horz-line6a {
  border: 0;
  border-bottom: $separator-size $separator-border-style #297caf;
  opacity: 0.8;
  left: 3%;
  top: 25%;
  position: absolute;
  max-width: 12%;
  animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}
.horz-line6b {
  border: 0;
  border-bottom: $separator-size $separator-border-style #297caf;
  opacity: 0.8;
  position: absolute;
  left: 3%;
  top: 65%;
  max-width: 11%;
  animation: separator-width 1s ease-out forwards;
}
.horz-line3 {
  border: 0;
  border-bottom: $separator-size $separator-border-style #297caf;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 3%;
  opacity: 0.8;

  max-width: 90%;
  animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

.horz-line2 {
  border: 0;
  border-bottom: $separator-size $separator-border-style $separator-border-color;
  margin-bottom: 3%;

  width: 0;
  animation: separator-width 5s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.horz-line1 {
  border: 0;
  border-bottom: $separator-size $separator-border-style $separator-border-color;
  margin-bottom: 1.5%;

  width: 0;
  animation: separator-width 10s ease-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.timeline-osteofit {
  list-style-type: none;
  display: flex;
  align-items: center;
  max-width: 28%;
  margin-left: 9.8%;
  justify-content: center;
}

.cycles h1 {
  color: #1a658f;
  font-size: 45px;
  font-weight: 500;
  background: $lightgray1;

  span {
    background-image: linear-gradient(
      transparent calc(65% - 5px),
      rgb(255, 204, 0) 5px
    );
    display: inline;
    transition: 0.5s ease;
  }

  &:hover {
    span {
      background-size: 100%;
    }
  }
}

.comparison {
  position: relative;
  height: 600px;
  .background-container {
    width: 90%;
    height: 550px;
    left: 5%;
    position: absolute;
    background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
  }
}

.comparison .comparison-title-reusable .MuiPaper-root {
  position: absolute;
  top: 7%;
  padding-top: 0.5%;
  left: 45%;
  width: 12%;
  height: 8%;
  opacity: 0.5;
  text-align: center;
  font-size: 20px;
}
.verticalLine {
  border-left: 6px solid $lightgray1;
  height: 430px;
  position: absolute;
  top: 10%;
  left: 65%;
}
.comparison .comparison-title-osteofit .MuiPaper-root {
  position: absolute;
  top: 7%;
  padding-top: 0.5%;
  left: 70.4%;
  width: 12%;
  height: 8%;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  padding-left: 1rem;
  padding-right: 3rem;

  > li {
    background: #297caf;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    min-height: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      content: counter(gradient-counter);
      display: flex;
      font: 800 1.5em/1 "Raleway";
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n + #{$i}):before {
        background: rgb(255, 204, 0);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n + #{$i}):before {
        background: rgb(255, 204, 0);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}

.cycles {
  position: relative;
  height: 925px;
  h2 {
    position: absolute;
    left: 4%;
    top: 20%;
    font-size: 40px;
    color: $darkblue;
    font-family: "Raleway", sans-serif;
  }
  .timeline-title-osteofit {
    top: 60%;
  }
}

.circle-icon-benefits1 {
  background: rgb(255, 204, 0);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 65px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 15%;
  margin-right: 2%;
}

.circle-icon-benefits2 {
  background: rgb(255, 204, 0);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 15%;
  margin-right: 2%;
}

.benefits h2 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 2%;
  margin-left: 5%;
  color: $lightgray1;
  letter-spacing: 0.8px;
}

.benefits-single-use h1 {
  padding-top: 2.5%;
  font-size: 40px;
  letter-spacing: 0.6px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.benefits-single-use h3 {
  margin-bottom: 3%;
}

.benefits-single-use h3 span {
  font-family: "Open Sans", sans-serif;
  margin-left: 22%;
  font-size: 40px;
  color: $lightgray1;
  letter-spacing: 1px;
}

.fa-hotjar:before {
  color: #cb562c;
}

.fa-disease:before {
  color: #555555;
}

.fa-dollar-sign:before {
  color: green;
}

.fa-bullseye:before {
  color: #cb562c;
}

.fa-angle-double-up:before {
  color: #555555;
}

.benefits h2 span .revenue-icon {
  margin-left: 12.2%;
}

.benefits h2 span .accuracy-icon {
  margin-left: 14.6%;
}

.wrapper {
  text-align: center;
  h2 {
    color: #fff;
    font-size: 70px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      #297caf 10%,
      #3c94cf 50%,
      #57d75b 60%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
    display: inline-block;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.recycle-desc {
  height: 100px;
  width: 70%;
  margin-left: 18%;
  font-family: "Open Sans", sans-serif;
  h4 {
    color: $darkgray;
    font-size: 148px;
    position: absolute;
    left: 46.6%;
    top: 32%;
  }
  h3 {
    width: 90%;
    padding-top: 1%;
    color: #555555;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    position: absolute;
    line-height: 2;
    color: #555555;
    text-align: center;
    width: 53%;
    font-size: 20px;
    left: 23%;
    top: 46%;
    padding-top: 2%;
  }
}

.paper4 {
  span {
    position: absolute;
    text-align: center;
  }
  margin-left: 55%;
}

.paper3 {
  span {
    position: absolute;
    text-align: center;
  }
  margin-left: 21%;
  bottom: 0%;
}

.bottompapers2 h2 {
  color: #555555;
  text-transform: uppercase;
  font-size: 30px;
}

.bottompapers2 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0;
}

.bottompapers2 p {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.paper3 .MuiButton-contained {
  background-color: #57d75b;
}

.paper4 .MuiButton-contained {
  background-color: #57d75b;
}

.osteofit-timeline-quote {
  position: absolute;
  color: #555555;
  top: 69%;
  width: 80%;
  left: 44%;
  letter-spacing: 1px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
  b {
    margin-left: 12%;
    color: rgb(255, 204, 0);
    font-size: 33px;
    font-weight: 600;
  }
}

.contact-btn-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: $yellow;
  color: $darkblue;
  cursor: pointer;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 12px;
  width: auto;
  position: relative;

  &::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 85%;
    top: 34%;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    background: rgb(244, 216, 107);
    transition: all 0.5s;
    border-radius: 10px;
    padding: 1rem 3rem 1rem 1rem;

    &::after {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}
.contact-btn-1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background: $yellow;
  color: $darkblue;
  cursor: pointer;
  font-size: 1em;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 12px;
  width: auto;
  position: relative;

  &::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 85%;
    top: 34%;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    background: rgb(244, 216, 107);
    transition: all 0.5s;
    border-radius: 10px;
    padding: 1rem 3rem 1rem 1rem;

    &::after {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

#scrollToTopBtn {
  background-color: $yellow;
  border: 0;
  font-size: 1em;
  padding: 1rem;
  font-weight: 600;
  border-radius: 55px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  color: #0f4264;
  cursor: pointer;
  width: auto;
  position: relative;
  left: 85%;
}

.mold1pic {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 8%;
  right: 28.5%;
}

.mold2pic {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 26.5%;
  bottom: 10%;
}

.bigGreenAndSymbol {
  position: absolute !important;
  z-index: 3 !important;
  font-size: 1000px !important;
  color: #57d75b !important;
}

.firstH2 {
  color: #57d75b;
  text-align: center;
  padding-top: 0%;
}

.pictureAndDesc {
  p {
    font-size: 100px;
  }
}
