.App {
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.fade-in-text {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  transition: opacity 500ms ease-in;
}

.fadeOut {
  opacity: 0;
}
.fadeIn {
  opacity: 1;
}
.subtitles {
  font-weight: 900;
}

h1 {
  color: #ffffff;
  text-align: center;
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
  font-weight: bold;
}

svg {
  vertical-align: top;
}

.title span {
  padding-left: 700px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 2em;
}

/*About Us Biographyr*/

.outer-container {
  width: 100%;
  height: 550px;
  overflow: auto;
}

.aboutPara {
  margin-top: 15px;
  position: relative;
  height: 500px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.aboutPara .MuiPaper-root {
  position: absolute;
  top: 18%;
  left: 5%;
  width: 40%;
  height: 40%;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  padding-bottom: 80px;
  opacity: 0.4;
  font-size: 25px;
}

.aboutPara img {
  float: right;
  position: relative;
  top: 15px;
  right: 10%;
}
.container {
  position: relative;
  width: 280px;
  height: 250px;
  border-radius: 10px;
  float: left;
  box-shadow: 0 5px 10px 0px #3c385c;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 1%;
  padding: 30px;
  margin: 100px;
}

.container:hover {
  height: 290px;
  width: 310px;
}

.container1 {
  background: -webkit-linear-gradient(left top, #1a658f, #297caf);
  background: linear-gradient(to bottom right, #0f4264, #3c94cf);
}

.container2 {
  background: -webkit-linear-gradient(left top, #1a658f, #297caf);
  background: linear-gradient(to bottom right, #0f4264, #3c94cf);
}

.container3 {
  background: -webkit-linear-gradient(left top, #1a658f, #297caf);
  background: linear-gradient(to bottom right, #0f4264, #3c94cf);
}

.inner_container h1 {
  font-weight: bold;
  background: transparent;
}

.checkbox h1 {
  background: transparent;
  margin-right: 200px;
}

.checkbox {
  display: flex;
  justify-content: space-around;
  background: #297caf;
}

.checkbox1 {
  height: 150px;
  margin-top: 50px;
}

.checkbox2 {
  height: 150px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: rgb(255, 204, 0);
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark1 {
  margin-left: 120.1%;
  margin-top: -50px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #555555;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px rgb(255, 204, 0);
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark2 {
  margin-left: 114%;
  margin-top: -50px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #555555;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px rgb(255, 204, 0);
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px rgb(255, 204, 0);
  }
}

.bottompapers {
  width: 100%;
  overflow: auto;
  height: 550px;
}

.paper1 .MuiButton-contained {
  background-color: rgb(255, 204, 0);
}

.paper2 .MuiButton-contained {
  background-color: rgb(255, 204, 0);
}

.MuiButton-label a {
  font-size: 16px;
  text-decoration: none;
  color: #555555;
}

.paper1 .MuiPaper-root {
  top: 20%;
  position: absolute;
  width: 60%;
  height: 40%;
  text-align: center;
  padding: 25px;
  font-family: "Raleway", sans-serif;
}

.paper2 .MuiPaper-root {
  top: 20%;
  position: absolute;
  width: 60%;
  height: 40%;
  text-align: center;
  padding: 25px;
  font-family: "Raleway", sans-serif;
}

.bottompapers h2 {
  color: #1a658f;
  text-transform: uppercase;
  font-size: 30px;
}

.bottompapers p {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
}

.paper1 {
  position: absolute;
  left: 18%;
  width: 35%;
  height: 20%;
  text-align: center;
  padding: 20px;
}

.paper2 {
  height: 20%;
  position: absolute;
  right: 10%;
  width: 35%;
  text-align: center;
  padding: 20px;
}

.active {
  z-index: 3;
  top: -25px;
  height: 300px;
}

.title-bio {
  color: rgb(255, 204, 0);
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  text-transform: capitalize;
}

.title-bio::after {
  content: "";
  display: block;
  height: 3.5px;
  width: 13px;
  background-color: #fff;
  border-radius: 15px;
  margin: 5px auto 0 auto;
}

.container_text {
  position: absolute;
  font-family: "Raleway", sans-serif;
  top: 65%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.active .container_text {
  top: 65%;
}

.container_text span {
  display: block;
}

.container_text1 {
  font-size: 1.3rem;
}

.container_text2 {
  font-size: 2.5rem;
}

/*.home-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  margin-left: 1700px;
  margin-top: -20px;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(7, 52, 99);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.home-arrow .text {
  display: block;
  margin-top: 120px;
  margin-left: 1700px;
  font-size: 15px;
  color: rgb(0, 25, 46);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
*/

/*Nav Bar and Footer*/
nav {
  height: 75px;
}

#footer-container {
  min-height: 100%;
  overflow: auto;
  text-align: justify;
}

.footer {
  overflow: hidden;
  width: 100%;
  bottom: 0;
  background-color: #555555;
  height: 100%;
  left: 0;
}
nav ul {
  display: flex;
  list-style-type: none;
}

.footer ul {
  display: flex;
  list-style-type: none;
}

nav li {
  display: flex;
  height: 100%;
  width: 30%;
}

.footer li {
  display: flex;
  height: 100%;
  width: 15%;
  justify-content: flex-end;
}

nav li a {
  color: rgb(43, 69, 136);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
}

.footer li a {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  color: #bfcee4;
  font-size: 18px;
}

.footer li a:hover {
  color: #648bc6;
  font-size: 18px;
}

nav ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 32%;
}

.footer ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 20%;
}

.footer .footerNotes {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 40px;
  font-size: 12px;
  color: white;
}

/*Home page*/
.Mission {
  position: relative;
  height: 500px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.MissionText {
  top: 20%;
  position: absolute;
  left: 5%;
  width: 40%;
  height: 40%;
  padding: 30px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-transform: uppercase;
  overflow: hidden;
}

.MissionText h2 {
  margin: 10px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  color: white;
  animation: 2s MissionText;
}

@keyframes MissionText {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: 0%;
  }
}

.HomePara {
  text-align: center;
  padding: 100px;
  width: 820px;
  margin: auto;
  font-size: 30px;
}

.HomePara b {
  color: #297caf;
}

.a {
  text-align: left;
}

.b {
  text-align: center;
}

.c {
  text-align: right;
}

.problem {
  margin-top: 15px;
  position: relative;
  height: 700px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.ProblemText .MuiPaper-root {
  position: absolute;
  top: 16%;
  left: 5%;
  width: 20%;
  height: 40%;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  opacity: 0.4;
}

.ProblemText2 {
  top: 16%;
  left: 35%;
  width: 60%;
  margin-left: auto;
  height: 55%;
  text-align: center;
  padding-top: 5%;
  font: 500 1.5em/1 "Raleway";
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.allCards {
  min-height: 20vh;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
}

.card {
  background-color: #bbbbbb;
  width: 200px;
  min-height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  box-shadow: -15px -15px 0px 0px #1a658f;
  border-radius: 10px;
  -webkit-animation-name: shadow-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}

.card h2 {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  font-size: 30px;
  color: #282828;
}
.card hr {
  display: block;
  border: none;
  height: 3px;
  background-color: #1a658f;
  margin: 0px;
  -webkit-animation-name: line-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s;
  /* Safari 4.0 - 8.0 */
  animation-name: line-show;
  animation-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}
.card p {
  margin: 15px 0px 0px 0px;
  font-weight: 100;
  letter-spacing: -0.25px;
  line-height: 1.25;
  font-size: 13px;
  word-break: break-all;
  word-wrap: pre-wrap;
  color: #282828;
  -webkit-animation-name: p-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: p-show;
  animation-duration: 1.5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}
/* Standard syntax */
@keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
  from {
    color: #e1dcdc;
  }
  to {
    color: #282828;
  }
}
/* Standard syntax */
@keyframes p-show {
  from {
    color: #ebe8e8;
  }
  to {
    color: #282828;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
  from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    box-shadow: -20px -20px 0px 0px #243768;
  }
}
/* Standard syntax */
@keyframes shadow-show {
  from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    box-shadow: -20px -20px 0px 0px #243768;
  }
}
#card1 {
  margin-top: 80px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card2 {
  margin-left: 280px;
  margin-bottom: 100px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card3 {
  margin-left: 630px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card3 .card {
  width: 250px;
}

#card4 {
  margin-left: 150px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card5 {
  margin-left: 880px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card6 {
  margin-left: 70px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card7 {
  margin-left: 1000px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  padding-left: 1rem;
  padding-right: 3rem;

  > li {
    background: #297caf;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    min-height: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      border-radius: 1rem 1rem 0 1rem;
      content: "";
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      content: counter(gradient-counter);
      display: flex;
      font: 800 1.5em/1 "Raleway";
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n + #{$i}):before {
        background: rgba(255, 204, 0, 0.701);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n + #{$i}):before {
        background: rgba(255, 204, 0, 0.701);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}

.slideshow-container {
  position: relative;
  left: 60%;
  top: 20%;
  width: 30%;
  height: 60%;
}

.slideshow-inner {
  position: relative;
  height: 300px;
  width: 450px;
}

.mySlides {
  position: relative;
  display: none;
  height: 300px;
  width: 450px;
}

.allDots {
  position: absolute;
  left: 71%;
  bottom: 10%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(94, 94, 94);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e3d9d9;
}

.slideshowImage {
  width: 100%;
}

form {
  text-align: center;
}
.button--container {
  margin-bottom: 5%;
}

.container_cards {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.Contact .MuiFormControl-root {
  min-width: 40%;
  margin-left: auto;
}

.button-contact {
  --primary: rgb(255, 204, 0);
  --primary-dark: rgb(255, 192, 55);
  --primary-darkest: rgb(249, 170, 0);
  --text: #ffffff;
  --text-opacity: 1;
  --success: #2b3044;
  --success-scale: 0.2;
  --success-opacity: 0;
  --border-radius: 7;
  --overflow: hidden;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 50;
  --left-body-first-y: 0;
  --left-body-second-x: 50;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 50;
  --right-body-first-y: 0;
  --right-body-second-x: 50;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  margin: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  transform: rotate(calc(var(--rotate) * 1deg)) translateZ(0);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  .left,
  .right {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: var(--plane-opacity);
    transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px))
      translateZ(0);
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: calc(var(--border-radius) * 1px);
      transform: translate(var(--x, 0.4%), var(--y, 0)) translateZ(0);
      z-index: var(--z-index, 2);
      background: var(--background, var(--left-wing-background));
      clip-path: polygon(
        calc(var(--first-x, var(--left-wing-first-x)) * 1%)
          calc(var(--first-y, var(--left-wing-first-y)) * 1%),
        calc(var(--second-x, var(--left-wing-second-x)) * 1%)
          calc(var(--second-y, var(--left-wing-second-y)) * 1%),
        calc(var(--third-x, var(--left-wing-third-x)) * 1%)
          calc(var(--third-y, var(--left-wing-third-y)) * 1%)
      );
    }
  }
  .left:after {
    --x: 0;
    --z-index: 1;
    --background: var(--left-body-background);
    --first-x: var(--left-body-first-x);
    --first-y: var(--left-body-first-y);
    --second-x: var(--left-body-second-x);
    --second-y: var(--left-body-second-y);
    --third-x: var(--left-body-third-x);
    --third-y: var(--left-body-third-y);
  }
  .right:before {
    --x: -0.4%;
    --z-index: 2;
    --background: var(--right-wing-background);
    --first-x: var(--right-wing-first-x);
    --first-y: var(--right-wing-first-y);
    --second-x: var(--right-wing-second-x);
    --second-y: var(--right-wing-second-y);
    --third-x: var(--right-wing-third-x);
    --third-y: var(--right-wing-third-y);
  }
  .right:after {
    --x: 0;
    --z-index: 1;
    --background: var(--right-body-background);
    --first-x: var(--right-body-first-x);
    --first-y: var(--right-body-first-y);
    --second-x: var(--right-body-second-x);
    --second-y: var(--right-body-second-y);
    --third-x: var(--right-body-third-x);
    --third-y: var(--right-body-third-y);
  }
  span {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
    &.success {
      z-index: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 8px;
      transform: rotate(calc(var(--rotate) * -1deg)) scale(var(--success-scale))
        translateZ(0);
      opacity: var(--success-opacity);
      color: var(--success);
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// Center & dribbble
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial;
  .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    img {
      display: block;
      height: 28px;
    }
  }
  .twitter {
    position: fixed;
    display: block;
    right: 64px;
    bottom: 14px;
    svg {
      width: 32px;
      height: 32px;
      fill: #1a658f;
    }
  }
}
