.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #02193a;
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
}

.title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(28, 69, 101);
  opacity: 0.6;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 30;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.title span:nth-of-type(1)::before,
.title span:nth-of-type(1)::after {
  animation-delay: 1s;
}

.title span:nth-of-type(2)::before,
.title span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.outer-container {
  width: 100%;
  height: 550px;
  overflow: auto;
}

.aboutPara {
  margin-top: 15px;
  position: relative;
  height: 500px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(12, 34, 118) 25%,
    rgb(0, 69, 106) 100%
  );
}

.aboutPara .MuiPaper-root {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 30%;
  height: 40%;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  opacity: 0.4;
}

.aboutPara img {
  float: right;
  position: relative;
  top: 50px;
  right: 20%;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  float: left;
  z-index: 0;
  box-shadow: 0 5px 10px 0px #3c385c;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 21%;
  padding: 30px;
  margin: 50px;
}

.container:hover {
  height: 290px;
  width: 250px;
}

.container1 {
  background: #5967c3;
  background: -webkit-linear-gradient(left top, #5967c3, #83cedc);
  background: linear-gradient(to bottom right, #5967c3, #83cedc);
}

.container2 {
  background: #4615ce;
  background: -webkit-linear-gradient(left top, #3230c9, #0f4264);
  background: linear-gradient(to bottom right, #3230c9, #0f4264);
  /* margin-left: -50px;*/
}

.container3 {
  background: #6168ca;
  background: -webkit-linear-gradient(left top, #4379df, #100b4e);
  background: linear-gradient(to bottom right, #4379df, #100b4e);
  /*margin-left: -50px;*/
}

.checkbox {
  display: flex;
  justify-content: space-around;
  margin: 4%;
  background-color: #1a658f;
  background: -webkit-linear-gradient(left top, #1a658f, #83cedc);
  background: linear-gradient(to bottom right, #1a658f, #83cedc);
  margin: auto;
  padding: 100px;
}

.checkbox1 {
  margin: auto;
  height: 250px;
  padding: 0.8%;
}

.checkbox2 {
  margin: auto;
  height: 250px;
  padding: 0.8%;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.paper1 {
  position: absolute;
  left: 15%;
  width: 20%;
  height: 60%;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  opacity: 1;
}

.paper2 {
  position: absolute;
  right: 15%;
  width: 20%;
  height: 60%;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  opacity: 1;
}

.active {
  z-index: 3;
  top: -25px;
  height: 300px;
}

.title-bio {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 15px;
}

.title-bio::after {
  content: "";
  display: block;
  height: 3.5px;
  width: 13px;
  background-color: #fff;
  border-radius: 15px;
  margin: 5px auto 0 auto;
}

.container_text {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.active .container_text {
  top: 65%;
}

.container_text span {
  display: block;
}

.container_text1 {
  font-size: 0.9rem;
}

.container_text2 {
  font-size: 2.5rem;
}

.home-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  margin-left: 1700px;
  margin-top: -20px;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(7, 52, 99);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.home-arrow .text {
  display: block;
  margin-top: 120px;
  font-family: "Raleway", sans-serif;
  margin-left: 1700px;
  font-size: 15px;
  color: rgb(0, 25, 46);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/*Nav Bar and Footer*/
nav {
  height: 75px;
  font-family: "Raleway", sans-serif;
}

.footer {
  overflow: hidden;
  width: 100%;
  bottom: 0;
  position: fixed;
  font-family: "Raleway", sans-serif;
  background-color: #393c41;
}
nav ul {
  display: flex;
  list-style-type: none;
}

.footer ul {
  display: flex;
  list-style-type: none;
}

nav li {
  display: flex;
  height: 100%;
  width: 30%;
}

.footer li {
  display: flex;
  height: 100%;
  width: 15%;
  justify-content: flex-end;
}

nav li a {
  color: rgb(43, 69, 136);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
}

.footer li a {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  color: #bfcee4;
  font-size: 18px;
}

.footer li a:hover {
  color: #648bc6;
  font-size: 18px;
}

nav ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 32%;
}

.footer ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 20%;
}

.footer .footerNotes {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 40px;
  font-size: 12px;
  color: white;
}

/*Home page*/
.Mission {
  margin-top: 15px;
  position: relative;
  height: 500px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(12, 34, 118) 25%,
    rgb(0, 69, 106) 100%
  );
}

.Mission .MuiPaper-root {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 40%;
  height: 40%;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  opacity: 0.4;
}
