.App {
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

.subtitles {
  font-weight: 900;
}

h1 {
  color: #ffffff;
  text-align: center;
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
  font-weight: bold;
}

svg {
  vertical-align: top;
}

.title span {
  padding-left: 700px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  display: block;
  font-size: 2em;
}

/*About Us Biographyr*/

.outer-container {
  margin: 100px auto 0 auto;
  width: 100%;
  max-width: 500px;
}

.container {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  float: left;
  position: relative;
  top: 0;
  z-index: 1;
  box-shadow: 0 5px 10px 0px #3c385c;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container1 {
  background: #5967c3;
  background: -webkit-linear-gradient(left top, #5967c3, #83cedc);
  background: linear-gradient(to bottom right, #5967c3, #83cedc);
}

.container2 {
  background: #ffaec2;
  background: -webkit-linear-gradient(left top, #ffaec2, #7e4aaf);
  background: linear-gradient(to bottom right, #ffaec2, #7e4aaf);
  margin-left: -50px;
  z-index: 2;
}

.container3 {
  background: #ca619c;
  background: -webkit-linear-gradient(left top, #ca619c, #dbc084);
  background: linear-gradient(to bottom right, #ca619c, #dbc084);
  margin-left: -50px;
}

.active {
  z-index: 3;
  top: -25px;
  height: 300px;
}

.title-bio {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 15px;
}

.title-bio::after {
  content: "";
  display: block;
  height: 3.5px;
  width: 13px;
  background-color: #fff;
  border-radius: 15px;
  margin: 5px auto 0 auto;
}

.container_text {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.active .container_text {
  top: 65%;
}

.container_text span {
  display: block;
}

.container_text1 {
  font-size: 0.9rem;
}

.container_text2 {
  font-size: 2.5rem;
}

.home-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  margin-left: 1700px;
  margin-top: -20px;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: rgb(7, 52, 99);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.home-arrow .text {
  display: block;
  margin-top: 120px;
  margin-left: 1700px;
  font-size: 15px;
  color: rgb(0, 25, 46);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/*Nav Bar and Footer*/
nav {
  height: 75px;
}

#footer-container {
  min-height: 100%;
  overflow: auto;
  text-align: justify;
}

.footer {
  overflow: hidden;
  width: 100%;
  bottom: 0;
  background-color: #555555;
  height: 100%;
  left: 0;
  position: relative;
}
nav ul {
  display: flex;
  list-style-type: none;
}

.footer ul {
  display: flex;
  list-style-type: none;
}

nav li {
  display: flex;
  height: 100%;
  width: 30%;
}

.footer li {
  display: flex;
  height: 100%;
  width: 15%;
  justify-content: flex-end;
}

nav li a {
  color: rgb(43, 69, 136);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 30px;
}

.footer li a {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  color: #bfcee4;
  font-size: 18px;
}

.footer li a:hover {
  color: #648bc6;
  font-size: 18px;
}

nav ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 32%;
}

.footer ul img {
  display: inline-block;
  justify-content: flex-start;
  width: 20%;
}

.footer .footerNotes {
  display: inline-block;
  justify-content: flex-start;
  margin-left: 40px;
  font-size: 12px;
  color: white;
}

/*Home page*/
.Mission {
  position: relative;
  height: 500px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.Mission .MuiPaper-root {
  top: 20%;
  position: absolute;
  left: 5%;
  width: 40%;
  height: 40%;
  text-align: center;
  padding: 30px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.Mission h2 {
  margin: 10px;
}

.problem {
  margin-top: 15px;
  position: relative;
  height: 500px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #1a658f 0%, #297caf 40%, #3c94cf 100%);
}

.problem .MuiPaper-root {
  position: absolute;
  top: 16%;
  left: 5%;
  width: 20%;
  height: 55%;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  opacity: 0.4;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.allCards {
  min-height: 20vh;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
}

.card {
  background-color: #bbbbbb;
  width: 200px;
  min-height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  box-shadow: -15px -15px 0px 0px #1a658f;
  border-radius: 10px;
  -webkit-animation-name: shadow-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}

.card h2 {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  font-size: 30px;
  color: #282828;
}
.card hr {
  display: block;
  border: none;
  height: 3px;
  background-color: #1a658f;
  margin: 0px;
  -webkit-animation-name: line-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s;
  /* Safari 4.0 - 8.0 */
  animation-name: line-show;
  animation-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  /* custom */
}
.card p {
  margin: 15px 0px 0px 0px;
  font-weight: 100;
  letter-spacing: -0.25px;
  line-height: 1.25;
  font-size: 13px;
  word-break: break-all;
  word-wrap: pre-wrap;
  color: #282828;
  -webkit-animation-name: p-show;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: p-show;
  animation-duration: 1.5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}
/* Standard syntax */
@keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
  from {
    color: #e1dcdc;
  }
  to {
    color: #282828;
  }
}
/* Standard syntax */
@keyframes p-show {
  from {
    color: #ebe8e8;
  }
  to {
    color: #282828;
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
  from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    box-shadow: -20px -20px 0px 0px #243768;
  }
}
/* Standard syntax */
@keyframes shadow-show {
  from {
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    box-shadow: -20px -20px 0px 0px #243768;
  }
}
#card1 {
  margin-top: 80px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card2 {
  margin-left: 280px;
  margin-bottom: 100px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card3 {
  margin-left: 630px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card3 .card {
  width: 250px;
}

#card4 {
  margin-left: 150px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card5 {
  margin-left: 880px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card6 {
  margin-left: 70px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

#card7 {
  margin-left: 1000px;
  margin-bottom: 60px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.slideshow-container {
  position: relative;
  left: 60%;
  top: 20%;
  width: 30%;
  height: 60%;
}

.slideshow-inner {
  position: relative;
  height: 300px;
  width: 450px;
}

.mySlides {
  position: relative;
  display: none;
  height: 300px;
  width: 450px;
}

.allDots {
  position: absolute;
  left: 71%;
  bottom: 10%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(94, 94, 94);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e3d9d9;
}

.slideshowImage {
  width: 100%;
}

.contact {
  text-align: center;
}
